
@{
    ViewBag.Title = "Login Doktora";
    Layout = "Shared/_LayoutPageLogin.cshtml";
}
@model DigitalnaApoteka.ViewModel.DoctorViewModel.DoctorViewModel

<div id="headerLogin">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h1 class="text-center">Login-Doktor</h1>
            </div>
        </div>
    </div>
</div>
<div id="sectionLogin">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="margin-left:33.3%">
                @using (Html.BeginForm("Login", "Doctor", FormMethod.Post, new { @class = "well" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Logovanje</button>
                    </div>
                    if (ViewData["loginerror"] != null)
                    {
                        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert" style="margin-top:10px">
                            <p>@ViewData["loginerror"]</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div id="footerLogin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Copyright Borislav Nikolic, @@ @DateTime.Today.Year
            </div>
        </div>
    </div>
</div>